@using Winkompass_Mobil.Helpers
@model TemplateList

@section title{
    Winkompass - Lager
}

@section siteHeader{
    Lagerkladde liste
}

@using Winkompass_Mobil.Code

@functions
{

    Functions _func = new Functions();

}

<div class="less-padding">
    <a href="@Url.Action(MVC.Storage.CreateTemplate())" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent center-block">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Opret ny lagerkladde
    </a>
</div>



<ul class="mdl-list left">

    @foreach (var journal in Model.Journals.Take(10))
    {
        <li class="mdl-list__item col-xs-12" >

            <span class="mdl-list__item-primary-content col-xs-6 no-padding">
                <span class="truncate">
                      @journal.Journal1
                </span>
            </span>
            
            <div class="col-xs-5 no-padding">
                <a class="mdl-list__item-secondary-action col-xs-6 no-padding" href="@Url.Action(MVC.Storage.StorageCount(journal.Journal1))">
                    <span class="mdl-list__item-primary-action pull-right mdl-button mdl-js-button mdl-js-ripple-effect">
                        <i class="fa fa-barcode fa-lg" aria-hidden="true"></i>
                    </span>
                </a>

                <a class="mdl-list__item-secondary-action col-xs-6 no-padding" href="@Url.Action(MVC.Storage.QuickCount(journal.Journal1))">
                    <span class="mdl-list__item-secondary-action pull-right mdl-button mdl-js-button mdl-js-ripple-effect">
                        <i class="fa fa-bolt fa-lg" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </li>
        
    }

</ul>

<div class="tinyBotSpace"></div>

@section BottomScripts
{

}