@using System.Configuration
@model ScanItemModel
@section title{
    Winkompass - Lager
}



@section siteHeader{
    <span class="truncatetitle">
    Lageroptælling 
        </span>
}

@if (Model != null && !string.IsNullOrEmpty(Model.Error))
{
    <div id="scanResult" class="element left tinyBotSpace text-danger">
        <span>@Model.Error</span>
    </div>
}
else if (Model != null && Model.Scanned == ScanItem.SCAN_VALID)
{
    <div id="scanResult" class="element left tinyBotSpace text-success">
        <span>@Model.Message</span>
    </div>
}
else if (Model != null && Model.Scanned == ScanItem.SCAN_INVALID)
{
    <div id="scanResult" class="element left tinyBotSpace text-danger">
        <span>Scanning fejlede ved registrering!</span>
    </div>
}
<form class="scanForm" method="post">
    @Html.Partial("~/Views/Shared/NormalScan.cshtml")
</form>
@section BottomScripts {
    @Html.Partial("~/Views/Shared/NormalScanJS.cshtml")
    @if (bool.Parse(ConfigurationManager.AppSettings["useLocation"]))
    {
        <text>
            <script type="text/javascript">
                $("#btnLocationRemove")
                    .bind("click",
                        function () {
                            $('#locationInput').val = '';
                            $('#locationInput').enabled = true;
                            $('#locationRemove').parent().remove('#locationRemove');
                            return false;
                        });
            </script>
        </text>
    }
}
