@section title{
    Winkompass - Hovedmenu
}

@section siteHeader{
    Winkompas Terminal
}


<a href="@Url.Action(MVC.Storage.StorageList())">
    <div class="mdl-card mdl-shadow--4dp margin-bottom-20 card1">
        <div class="mdl-card__title mdl-card--expand">
            <h1 class="mdl-card__title-text text-shadow">Lager</h1>
        </div>
        <div class="mdl-card__supporting-text">
            <large>Se lagerkladder og opret nye.</large>
        </div>
    </div>
</a>

<a href="@Url.Action(MVC.Order.OrderList())">
    <div class="mdl-card mdl-shadow--4dp margin-bottom-20 card2">
        <div class="mdl-card__title mdl-card--expand">
            <h1 class="mdl-card__title-text text-shadow">Ordrer</h1>
        </div>
        <div class="mdl-card__supporting-text">
            <large>Se nylige ordrer og opret nye.</large>
        </div>
    </div>
</a>

<a href="@Url.Action(MVC.Purchase.PurchaseList())">
    <div class="mdl-card mdl-shadow--4dp margin-bottom-20 card3">
        <div class="mdl-card__title mdl-card--expand">
            <h1 class="mdl-card__title-text text-shadow">Indkøb</h1>
        </div>
        <div class="mdl-card__supporting-text">
            <large>Se nylige indkøb og opret nye.</large>
        </div>
    </div>
</a>