<connectionStrings>
  <add name="KompasDemoEntities" connectionString="metadata=res://*/WinKompassModel.csdl|res://*/WinKompassModel.ssdl|res://*/WinKompassModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KII6JJP\SQLEXPRESS;initial catalog=TessApS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>