@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Der skete en uventet fejl :(";
}

<h1 class="text-danger">Fejl.</h1>
<h2 class="text-danger">Der skete en fejl da vi prøvede på at behandle din anmodning.</h2>

