/*Remove some default functionality to better have control over the layout*/
a img { border: 0; }

div, html, body, form, table, tr, td {
    margin: 0;
    padding: 0;
}

.fab-button {
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3) !important;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3) !important;
    bottom: 24px;
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3) !important;
    margin-bottom: 0;
    padding-top: 24px;
    position: fixed !important;
    right: 24px;
    z-index: 998;
}

.settings {
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
    top: 58px !important;
    width: 100%;
    z-index: 1;
}

.search-field { width: 100% !important; }

/* Search label start*/

/* border-box */

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

/* Undoes normalize.css setting box-sizing to content-box */

input[type="search"] { box-sizing: border-box; }

body { background-color: #EE6E73; }

.container {
    margin: 50px auto;
    width: 500px;
}

/**
 * The search field needs to be a little smaller than its container but when
 * focused it needs to grow to the whole width of its container.
 *
 * I wanted the icon to be specified in the html instead of a background so
 * I could use fontawesome.
 *
 * I use flexbox so that the search box grows to the whole width of its
 * container (minus the margins when it's not focused).
 *
 * When the search box is focused the icon moves horizontally the width of the
 * margin. To be able to target the label I used the adjacent sibling selector.
 *
 */

.Search {
    color: #555;
    display: flex;
    font-weight: 300;
    position: relative;
}

#dialog { width: 80% !important; }

#edit_search {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none !important;
    box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3);
    flex: 1 0 auto;
    float: left;
    height: 80px;
    padding: 8px 20px;
    transition: all .15s ease-in-out;
    width: 50%;
}

*:focus { outline: none; }

.text-shadow {
    font-size: 36px !important;
    overflow: visible !important;
    text-shadow: 2px 2px 5px #000000;
}


.Search-label {
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: 14px;
}

.mdl-data-table th {
    font-size: 11px !important; 
}


/* Search label end*/

.selectpicker {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    color: #e1e1e1;
    font-weight: 700;
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
    font-family: "Helvetica","Arial",sans-serif;
}

.selectpicker:focus {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-bottom: solid 1px #009688;
    color: #009688;
    font-weight: 500;
    margin-bottom: 15px;
    width: 100%;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.mdl-data-table {
    table-layout: fixed;
    width: 100%;
}

#my-table td, th {
    -o-text-overflow: ellipsis;
    font-size: 14px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}


/* unrelated to responsive table css */

#my-table { margin-top: 24px; }

.material-icons { vertical-align: -25%; }

.mdl-data-table th, td { text-align: left !important; }

.center { text-align: center; }

.selectpicker:focus {
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.no-padding { padding: 0 !important; }

.no-margin { margin: 0 !important; }

.mdl-list__item { padding: 12px 0px !important; }

.mdl-list li { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.back-button-padding {
    padding-bottom: 0 !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-top: 0 !important;
}

.truncate {
    display: block !important;
    overflow: hidden !important;
    text-overflow: clip !important;
    white-space: nowrap !important;
}

.truncatetitle {
    display: block !important;
    overflow: hidden !important;
    padding-bottom: 1px;
    text-overflow: clip !important;
    white-space: nowrap !important;
    width: 100%;
}

.inner-addon { position: relative; }

/* style icon */

.inner-addon .glyphicon {
    padding: 10px;
    pointer-events: none;
    position: absolute;
}

.btnstock { bottom: 0px !important; }

/* align icon */

.left-addon .glyphicon { left: 0px; }

.right-addon .glyphicon { right: 0px; }

/* add padding  */

.left-addon input { padding-left: 30px; }

.right-addon input { padding-right: 30px; }

.little-margin { padding: 50px !important; }

.less-padding { padding: -20px !important; }

.no-padding-bottom { padding-bottom: 0 !important; }

.margin-bottom-20 { margin-bottom: 20px !important; }

.margin-bottom-60 { margin-bottom: 60px !important; }

.margin-top-20 { margin-top: 20px !important; }

.margin-top-60 { margin-top: 60px !important; }

.hr-border-size { border-width: 2px; }

.padding-button {
    margin-bottom: 10px;
    padding: 10px;
}

.card-size {
    margin-left: 5%;
    min-height: 160px !important;
    width: 90% !important;
}

.card1, .card2, .card3 {
    min-height: 26.5vh !important;
    width: 100% !important;
}

.card1 > .mdl-card__title {
    background:
              url('/Content/images/img/Warehouse-Management.png');
    background-position: center;
    background-size: cover;
    color: #fff;
    text-decoration: none; /* no underline */
}

.card2 > .mdl-card__title {
    background:
              url('/Content/images/img/loan-1000x500.jpg');
    background-size: cover;
    color: #fff;
    text-decoration: none; /* no underline */
}

.card3 > .mdl-card__title {
    background-image:
                    url(/Content/images/img/FactoryDesign.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-decoration: none; /* no underline */
}

mdl-card__title a, a:hover, a:active, a:visited { text-decoration: none !important; }


.material-icons.md-18 { font-size: 18px; }

.material-icons.md-24 { font-size: 24px; }

.material-icons.md-36 { font-size: 36px; }

.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*Standardizing END*/

body { width: 236px; }

body * { font-size: 20px; }



.topnav {
    background-color: #ababab;
    width: 236px;
}

body #siteTop { padding: 3px 2px; }



.siteWrapper {
    margin: 0 11px;
    text-align: center;
}

.headerText { font-size: 20px; }


.button, .menuButton { height: 50px; }

.element { width: 216px; }

.elementInputHack {
    height: 35px;
    padding-top: 11px;
    width: 212px;
}

.tinyBotSpace { margin-bottom: 5px; }

.smallBotSpace { margin-bottom: 10px; }

.mediumBotSpace { margin-bottom: 15px; }

.largeBotspace { margin-bottom: 20px; }

.templateChooserBot, .templateChooserTop {
    border: 1px solid black;
    border-collapse: collapse;
}

.templateChooserTop { border-bottom: 0; }

.templateChooserBot { border-top: 0; }

.templateChooserTop .iconButtonContainer {
    padding: 6px 7px 3px 7px;
    padding-top: 10px;
}

.templateChooserTop .iconButtonContainer img { margin-bottom: -3px; }

.iconButtonContainer {
    border-bottom: 0;
    border-collapse: collapse;
    border-left: 1px solid black;
    border-right: 0;
    border-top: 0;
    margin: 0;
    padding: 2px;
}

.templateText {
    padding: 0 2px;
    width: 133px;
}

.templateName { /*Border hack to ensure space between buttons*/
    display: block;
}

.templateButton {
    background-color: #CCCCCC;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 2px;
    padding: 2px;
    width: 45%;
}

.left { text-align: left; }

.measureHidden {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
}

.templateChoiceFirst, .templateChoice {
    border-bottom: 2px #CCCCCC solid;
    border-collapse: collapse;
    overflow-wrap: break-word;
    overflow-x: auto;
    padding-bottom: 3px;
}

.templateChoiceFirst { border-top: 2px #CCCCCC solid; }

.buttonEmulation {
    background-color: #c9cde9;
    
    
    border-bottom: 1px solid #090733;
    border-left: 1px solid white;
    border-right: 1px solid #090733;
    border-top: 1px solid white;
    
    color: black;
    display: block;
    height: 26px;
    text-decoration: none;
}

.buttonEmulationP {
    background-color: black;
    border-collapse: collapse;
    height: 26px;
    padding: 1px 2px 2px 1px;
    width: 213px;
}

.lastScans td {
    border: 1px solid black;
    border-spacing: 0;
    font-size: 10px;
    padding: 1px;
}

.lastScans tr { border-spacing: 0; }

.lastScans {
    
    border-collapse: collapse;
    border-spacing: 0;
}

#scanResult span, #result, #result * { font-size: 16px; }

.scanTableItem { width: 99%; }

#actionMessage, #actionMessageLabel { font-size: 16px; }

/*Bootstrap classes to use for color*/

.text-primary { color: #72bbff; }

.text-primary b { color: #31708f; }

.text-success { color: #3c765b; }

.text-success b { color: #3c763d; }

.text-danger { color: #a94442; }

.text-danger b { color: #ba4442; }